@page "/"

<h3>SpeechPage</h3>

<button class="btn btn-primary" @onclick="Translate">Speak</button>
<button class="btn btn-primary" @onclick="Stop" disabled="@isSpeaking">Stop</button>
@if (isCancelled)
{
    <div>語音服務已中斷</div>
}

<div class="my-2">
    <h3>Source language</h3>
    @if (sourceLanguages != null && sourceLanguages.Count > 0)
    {
        <div class="btn-group" role="group" aria-label="Source language Selector">
            @foreach (var locale in sourceLanguages)
            {
                <button type="button" class="@($"btn {(sourceLanguage == locale.Value ? "btn-primary" : "btn-secondary")}")" @onclick="() => SetLocale(locale.Value, 0)">
                    @locale.Text
                </button>
            }
        </div>
    }
    else
    {
        <p>Loading locales...</p>
    }
</div>
<div class="my-2">
    <h3>Target language</h3>
    @if (targetLanguages != null && targetLanguages.Count > 0)
    {
        <div class="btn-group" role="group" aria-label="Target language Selector">
            @foreach (var locale in targetLanguages)
            {
                <button type="button" class="@($"btn {(targetLanguage == locale.Value ? "btn-primary" : "btn-secondary")}")" @onclick="() => SetLocale(locale.Value, 1)">
                    @locale.Text
                </button>
            }
        </div>
    }
    else
    {
        <p>Loading locales...</p>
    }
</div>

<div class="container mt-5">
    @foreach (var item in Models)
    {
        <Card Model="@item"></Card>
    }
</div>
