<div class="row mb-4">
    <div class="col-md-1 p-0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">排序</h5>
            </div>
            <div class="card-body">
                <p class="card-text">@Model.Order</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">原文</h5>
            </div>
            <div class="card-body">
                <p class="card-text">@Model.Text</p>
            </div>
        </div>
    </div>
    <div class="col-md-2 p-0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">原文語言</h5>
            </div>
            <div class="card-body">
                <p class="card-text">@Model.TextLocale</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">翻譯</h5>
            </div>
            <div class="card-body">
                <p class="card-text">@Model.Translation</p>
            </div>
        </div>
    </div>
    <div class="col-md-2 p-0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">翻譯語言</h5>
            </div>
            <div class="card-body">
                <p class="card-text">@Model.TranslationLocale</p>
            </div>
        </div>
    </div>
</div>
